.frame {
    display: inline-flex;
    flex-direction: column;
    height: 331px;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    overflow-x: hidden;
}

.frame .card {
    position: relative;
    width: 311px;
    height: 43px;
    margin-right: -8px;
}

.frame .p {
    position: absolute;
    width: 285px;
    top: 5px;
    left: 6px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .likes-text, .frame .ratio-text, .frame .views-text {
    position: absolute;
    width: 60px;
    top: 20px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #979797;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .likes-text {left: 91px;}
.frame .ratio-text {left: 25px;}
.frame .views-text {left: 153px;}

.frame .info-card {
    position: relative;
    width: 303px;
    height: 43px;
    background-image: url(./src/assests/card.svg);
    background-size: 100% 100%;
}


